<mat-card appearance="outlined" class="comment-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-circle">
      {{ userInitial }}
    </div>

    <mat-card-title class="username">
      {{ comment.user.username }}
    </mat-card-title>

    <mat-card-subtitle class="date-info">
      {{ comment.createdAt | date : "mediumDate" }}
      <span
        *ngIf="comment.updatedAt"
        class="edited-badge"
      >
        (editado)
      </span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="comment-text">{{ comment.content }}</p>
  </mat-card-content>
  @if(currentUserId===comment.user.id){
  <mat-card-actions align="end" class="actions-container">
    <button
      mat-icon-button
      color="primary"
      (click)="onEdit()"
      matTooltip="Editar comentario"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      mat-icon-button
      color="warn"
      (click)="onDelete()"
      matTooltip="Borrar comentario"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-actions>
  }
</mat-card>
