<form action="">
  <div class="main-container">
    <mat-card appearance="raised">
      <mat-card-header>
        <h1 class="form-title">Inicio de sesión</h1>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="{{ hidePassword() ? 'password' : 'text' }}"
              required
            />
            <button
              type="button"
              matTextSuffix
              mat-icon-button
              (click)="toggleVisibility()"
            >
              <mat-icon>{{
                hidePassword() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <a routerLink="/register">¿No tienes cuenta? Registrate</a>
      </mat-card-content>
      <mat-card-footer>
        <button mat-flat-button>Enviar</button>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
