.task-card {
  cursor: pointer;
  transition: transform 120ms ease, box-shadow 120ms ease;
  width: 25vw;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .description {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .chips {
    margin-top: 16px;
  }
}

mat-card-header{
  justify-content: start;
}

.task-chip {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px !important;
  font-size: 12px;
  font-weight: 500;

  mat-icon {
    margin-right: 6px;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
  &.priority-medium {
  background-color: #f57c00;
  }
  &.priority-high {
  background-color: #c62828;
  }

  &.priority-low {
  background-color: #1565c0;
  }
}





// Status Colors
.status-done {
  background-color: #e8f5e9;
  color: #2e7d32;
}
.status-in-progress {
  background-color: #f3e5f5;
  color: #6a1b9a;
}
.status-not-started {
  background-color: #f5f5f5;
  color: #616161;
}
