
.main-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
mat-card{
    width: 75%;
    max-width: min(75%, 45em);
}
mat-card-content{
    flex-grow: 0.2;
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: end;
    padding: 1em;
    gap: 1em;
}

.container{
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    gap: 2em;
}

mat-form-field{
    width: 100%;
}
mat-card-footer{
    padding: 1em 0 1em 1em;
}

.form-title{
    color: var(--mat-app-text-color);
}

.password-info-card{
    background: var(--mdc-filled-text-field-container-color);
}

.password-info{
    display: flex;
    align-items: start;
}

.password-info-title{
    color: var(--mat-app-text-color);
    margin: 0;
}

.login-link{
    height: fit-content;
}

p.response-message{
    color: var(--mat-app-text-color);
    font-size: var(--mat-card-title-text-size);
    align-self: center;
}

