<div class="container">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      placeholder="Search projects..."
      [value]="search()"
      (input)="search.set($any($event.target).value)"
    />
  </mat-form-field>
  <div class="projects-grid">
    @for (project of filteredProjects(); track project.id) {
    <app-project-card [project]="project" />
    } @empty {
    <p>No hay proyectos.</p>
    }
  </div>
  <button mat-fab color="primary" class="fab" (click)="openCreateModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
