.container {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-bar {
  width: 100%;
}

.projects-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 10;
}

p{
    justify-self: center;
}
