.project-card {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: block;

  mat-card-content {
    margin-top: 12px;
  }

  mat-card-header{
    justify-content: start;
  }

  .dates {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;

    mat-icon {
      font-size: 18px;
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  mat-card-actions {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
}
