
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styles/m3-theme.scss';
// Plus imports for other components in your app.
@include mat.core();
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html{
  @include mat.all-component-themes(m3-theme.$dark-theme);
}

html, body { height: 100%; }
body {
   margin: 0;
    font-family: Roboto,
     "Helvetica Neue", sans-serif;
     background: var(--mat-app-background-color);    }
