button{
    transition: all 200ms;
   &:hover{
    background-color: rgb(228, 56, 56);
    transition: all 200ms;
   }
}

.member-card {
padding: 1rem;
display: flex;
flex-direction: column;
gap: 1rem;


.title {
font-size: 1.25rem;
font-weight: 600;
margin-bottom: .5rem;
}


.member-row {
display: flex;
justify-content: space-between;
align-items: center;
padding: .75rem;
border: 1px solid #d1d5db;
border-radius: .75rem;


.info {
display: flex;
flex-direction: column;


.username {
font-weight: 500;
}


.role {
font-size: .875rem;
color: #6b7280;
}
}
}
}