<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dynamic-form-container">
    @for (field of fields; track field.name) {

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ field.label }}</mat-label>

      @switch (field.type) { 
        @case ('text') {
          <input matInput [formControlName]="field.name" type="text" />
        } 
        @case ('email') {
          <input matInput [formControlName]="field.name" type="email" />
        } 
        @case ('number') {
          <input matInput [formControlName]="field.name" type="number" />
        } 
        @case ('password') {
          <input matInput [formControlName]="field.name" type="password" />
        } 
        @case ('textarea') {
          <textarea matInput [formControlName]="field.name" rows="3"></textarea>
        } 
        
        @case ('select') {
          <mat-select [formControlName]="field.name">
            @for (option of ((field.asyncOptions | async) || field.options); track option.value) {
              <mat-option [value]="option.value">{{ option.label }}</mat-option>
            }
          </mat-select>
        } 
        @case ('date') {
          <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        } 
      } 
      
      @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
        <mat-error>
          @if (form.get(field.name)?.hasError('required')) { Required field }
          @else if (form.get(field.name)?.hasError('email')) { Invalid email }
          @else if (form.get(field.name)?.hasError('minlength')) { Too short }
        </mat-error>
      }
    </mat-form-field>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>